[user]
	name = Kazunori Jo
	email = itochan315@gmail.com
	signingkey = 2E389FCD49D946F3
[color]
	ui = true
[alias]
	tree = log --graph --date=short --pretty='format:%C(yellow)%h %Creset%cd %s %Cgreen(%an)%Creset %Cred%d%Creset'
	co = checkout
	ci = commit
	br = branch
	st = status -sb
	br = branch
	di = diff
	dic = diff --cached
	pl = pull
	fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
[core]
	excludesfile = ~/.gitignore
	editor = vim
[push]
	default = tracking
[pull]
	rebase = true
[branch "develop"]
	mergeoptions = --no-ff
[rerere]
	enabled = true
[status]
	branch = true
	short = true
[diff]
       partience = true
[diff "encrypted"]
	textconv = hexdump -v -C
[credential]
	helper = osxkeychain
[gpg]
	program = gpg2
