[submodule ".vim/vundle"]
	path = .vim/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "autojump"]
	path = autojump
	url = git://github.com/joelthelion/autojump.git
[submodule ".zsh/compfunc/hub-zsh-completion"]
	path = .zsh/compfunc/hub-zsh-completion
	url = git://github.com/glidenote/hub-zsh-completion.git
[submodule "tmux-MacOSX-pasteboard"]
	path = tmux-MacOSX-pasteboard
	url = git://github.com/ChrisJohnsen/tmux-MacOSX-pasteboard.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/functions/zsh-completions"]
	path = zsh/functions/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
