[user]
	name = Kazunori Jo (itochan)
	email = itochan315@gmail.com
[color]
	ui = true
[alias]
	tree = log --graph --date=short --pretty='format:%C(yellow)%h %Creset%cd %s %Cgreen(%an)%Creset %Cred%d%Creset'
	co = checkout
	ci = commit
	st = status
	br = branch
	st = status -sb
  br = branch
  di = diff
	pl = pull
[core]
	excludesfile = /Users/itochan/.gitignore
[push]
	default = tracking
